<a href="https://colab.research.google.com/github/vitorefazevedo/VAzevedo-sharing/blob/master/ITBI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Algumas operações com os dados de ITBI realizadas em python:

In [0]:
# Importando bibliotecas básicas de manipulação de dados e álgebra linear

import pandas as pd
import numpy as np

Abrindo e lendo os dados brutos da planilha de ITBI:

In [0]:
from google.colab import files
uploaded = files
import io

df_com_duplicatas = pd.read_excel(io.BytesIO(uploaded['ITBIs_GP_2010_a_03_2020.xlsx']))

TypeError: ignored

In [0]:
# Vizualização de alguns destes dados
df_com_duplicatas.head(3)

  Indice Cadastral  Codigo Lancamento  ... Valor Calculado Pbh       F C
0  001001 001Y0017     13003120026153  ...          8054375.00   1,000000
1  001004 007B001X     13003120035198  ...          5062271.76   1,000000
2  001004 007B001X     13003120035198  ...          5062271.76   1,000000

[3 rows x 26 columns]

In [0]:
df_com_duplicatas.shape

(4868, 26)

In [0]:
#@title Filtrando dados não duplicados e os salvando em um novo DataFrame:

df = df_com_duplicatas.loc[np.where(df_com_duplicatas['Tipo Construtivo Preponderante']
                                    ==df_com_duplicatas["Tipo Classificacao (Unidade)"]
                                    .str.slice(0, 2), True, False)]

df.head(3)

  Indice Cadastral  Codigo Lancamento  ... Valor Calculado Pbh       F C
0  001001 001Y0017     13003120026153  ...          8054375.00   1,000000
1  001004 007B001X     13003120035198  ...          5062271.76   1,000000
3  001004 007B001X     13003120035202  ...          5062271.76   1,000000

[3 rows x 26 columns]

In [0]:
#@title Número de transações por ano:
df['Ano Transacao'].value_counts()

2011    477
2012    469
2010    392
2019    375
2013    351
2017    326
2018    326
2015    322
2014    309
2016    280
2020     90
Name: Ano Transacao, dtype: int64

In [0]:
#@title Transações por Bairros:
df['Bairro'].value_counts()

SAO FRANCISCO      147
CARLOS PRATES      110
CENTRO             103
SANTA EFIGENIA      93
PADRE EUSTAQUIO     84
                  ...
MINAS BRASIL         1
CENACULO             1
LAGOINHA LEBLON      1
SAO DAMIAO           1
JOAO PAULO II        1
Name: Bairro, Length: 241, dtype: int64

In [0]:
df.to_excel("ITBIs_GP_2010_a_03_2020_sem_duplicatas.xlsx")

In [0]:
df.to_excel(r'E:\Prog\Dados\Prefeitura\ITBIs_GP_2010_a_03_2020_sem_duplicatas.xlsx', index = False)

In [0]:
files.download("ITBIs_GP_2010_a_03_2020_sem_duplicatas.xlsx")